version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: mlops-backend
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    ports:
      - "8001:8000"
    depends_on:
      - mlflow

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    container_name: mlops-mlflow
    ports:
      - "5001:5000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: mlops-frontend
    environment:
      - BACKEND_URL=http://backend:8000/chat
    ports:
      - "8502:8501"
    depends_on:
      - backend
